body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3efea;
  }
  
  .container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .toggle-password i {
    color: #ccc;
  }
  
  .form-group input:focus,
  .toggle-password i:hover {
    color: #007bff;
  }
  
  #remember-me {
    margin-right: 5px;
  }
  
  button[type="submit"] {
    background-color: #ec671a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #88dd42;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin-top: 10px;
  }
  
  #error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Font Awesome (optional, for the eye icon) */
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
  